<button mat-button
        class="start-button"
        (click)="startStop()">

  <span *ngIf="timerActive && !(this.timerService.timerEnd$ | async) && !(this.timerService.timerStart$ | async)">Start</span>
  <span *ngIf="timerActive && !(this.timerService.timerEnd$ | async) && (this.timerService.timerStart$ | async)">Stop</span>
  <span *ngIf="timerActive && (this.timerService.timerEnd$ | async)">Ok</span>
  <span *ngIf="!timerActive && !(this.timerService.stopwatchStart$ | async)">Start</span>
  <span *ngIf="!timerActive && (this.timerService.stopwatchStart$ | async)">Stop</span>
</button>
<button mat-button
        class="reset-button"
        (click)="reset()">Reset</button>
<span class="flex-spacer"></span>
<button mat-icon-button
        *ngIf="timerActive"
        (click)="toggleAlarm()">
  <mat-icon *ngIf="(this.timerService.alarmEnabled$ | async)">volume_up</mat-icon>
  <mat-icon *ngIf="!(this.timerService.alarmEnabled$ | async)">volume_off</mat-icon>
</button>
<button mat-icon-button
        (click)="toggleFullscreen()">
  <mat-icon *ngIf="!(this.timerService.fullScreen$ | async)">fullscreen</mat-icon>
  <mat-icon *ngIf="(this.timerService.fullScreen$ | async)">fullscreen_exit</mat-icon>
</button>

<audio #alarm
       loop="loop">
  <source src="/assets/alarm.oga"
          type="audio/ogg">
  <source src="/assets/alarm.mp3"
          type="audio/mp3">
</audio>